.sidebar {
    grid-area: sidebar;
    width: 55px;
    transition: 1s;
}

.sidebar {
    background: linear-gradient(to right, lightgrey 90%, rgba(0,0,0,0.3));
}

.sidebar__link {
    display: flex!important;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    background: transparent;
    border-right: 0;
}

.sidebar__link:active {
    background: inherit;
}

.sidebar__link--active {
    background: #f8f9fa;
}

.sidebar__text {
    padding-left: 20px;
    margin: 0;
}

#toggleSidebar {
    appearance: button;
    background-color: lightgrey;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png")!important;
    background-size: 50px!important;
    background-repeat: no-repeat!important;
    background-position: center;
}

#toggleSidebar:checked ~ .sidebar {
    width: 200px;
}
