.sidebar {
    display: flex;
    flex-flow: column;
    background: linear-gradient(to right, lightgrey 90%, rgba(0,0,0,0.3));
    position: fixed;
    z-index: 1;
}

.sidebar__nav {
    width: 55px;
    transition: 0.8s;
    position: absolute;
    top: 50px;
    z-index: 1;
    /* background: grey; */
    left: -60px
}

.sidebar__link {
    display: flex!important;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    background: transparent;
    border-right: 0;
}

.sidebar__link:active {
    background: inherit;
}

.sidebar__link--active {
    background: #f8f9fa;
}

.sidebar__text {
    padding-left: 20px;
    margin: 0;
}


#toggleSidebar {
    appearance: button;
    position: fixed;
    margin: auto;
    border: none;
    background-color: lightgrey;
    background-image: url("./hamburger.svg")!important;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat!important;
    background-position: 0 0;
    animation-name: play60reverse;
    animation-duration: 0.3s;
    animation-timing-function: steps(60);
}

#toggleSidebar:checked {
    background-position: 100%;
    animation-name: play60;
    animation-fill-mode: forwards;
}

#toggleSidebar:checked ~ .sidebar__nav {
    width: 200px;
    left: 0;
}

@keyframes play60 {
    0% {
        background-position: 0px 0px
    }
    100% {
        background-position: -2880px 0px
    }
}

@keyframes play60reverse {
    0% {
        background-position: -2880px 0px
    }
    100% {
        background-position: 0px 0px
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: initial;
    }
    .sidebar__nav {
        position: initial
    }
    #toggleSidebar {
        position: initial;
        margin: 0 0 0 auto;
    }
}