.app {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "navbar" "content";
}

.content {
    grid-area: content;
    overflow: auto;
}

.navbar {
    grid-area: navbar;
}

/*.auth {*/
    /*grid-area: content;*/
/*}*/

/*.kanban {*/
    /*grid-area: content;*/
/*}*/

/*.board-editor {*/
    /*grid-area: content;*/
/*}*/

/*.analytics {*/
    /*grid-area: content;*/
/*}*/

@media (min-width: 768px) {
    .app {
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 90vh;
        grid-template-areas: "sidebar navbar navbar navbar navbar" "sidebar content content content content";
    }
    .sidebar {
        grid-area: sidebar;
    }
}