.lane {
    background: lightgrey;
    padding-bottom: 20px;
    max-width: 500px;
}

.lane .card-header {
    display: flex;
    justify-content: space-between;
}

.add-note-modal {
    z-index: 1;
    position: absolute;
    left: 110%;
    top: 0;
    width: 100%;
}

.lane__delete {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 0;
}

.lane__add {
    margin-left: 10px;
}

.lane__count {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
