/*Charts responsivity*/
.chart {
    border: 1px solid;
    width: 100%!important;
}

.chart svg {
    width: 100%;
}

.analytics {
    display: flex;
    flex-flow: row wrap;
}

.analytics .card:not(:last-child) {
    width: 50%;
}

.card.notes-timeline .recharts-wrapper {
    width: 100%!important;
    overflow-y: hidden;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .card:not(:last-child) {
        width: 100%;
    }
}
