.note {
    margin: 10px 0;
    background: #ffffff;
    border: 0;
    border-bottom: 10px solid;
    border-radius: 20px 20px 0 0;
}

.note:first-child {
    margin-top: 0;
}

.note .btn-group {
    width: 100%;
    padding: 0;
}

.note .btn-group .btn {
    border: 0;
    transition: 0.5s;
    flex: 1;
}

.note .card-header .btn:first-child {
    border-radius: 20px 0 0 0;
}

.note .card-header .btn:last-child {
    border-radius: 0 20px 0 0;

}

.note .btn-group .btn:hover {
    filter: brightness(90%);
}

.note__delete {
    position: absolute;
    top: 0;
    right: 0;
}

.check {
    background: gold!important;
}

.edit {
    background: rgba(0,0,0,0.2);
    padding: 0 20px;
    border-radius: 10px;
    animation: edit 2s forwards;
}

@keyframes edit {
    0% {filter: brightness(1);}
    50% {filter: brightness(0.7);}
    100% {filter: brightness(0.8);}
}

.note--normal {
    border-color: blue;
}

.note--low {
    border-color: green;
}

.note--high {
    border-color: yellow;
}

.note--critical {
    border-color: red;
}
